.icon {
  display: inline-block;
  height: 16px;
  width: 16px;

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAMFBMVEVMaXHPQA7PQA7RQQ/PQA7OQQ7PQA7PQQ/NOQXqqpTVVyvzzL/ghGTaaULmm4H////KoKdJAAAAB3RSTlMA58cMPnehoJz+xAAAAIBJREFUeNotj0kSACEIAwFBcJ3//3YkGg9oqiNAqWLizlXpScUhtoK3nXusGadIOuppzBZZ68kz8DY6HCW7wOzNLyIX6LGBMPk1PPZC5hk7CYfB+GOsGC9SMcU39ofGQsrHaCNPskZkSPSZGYxaJJv0mW1YsWv1J1G60sruLFj2B0YcBlQQlkTFAAAAAElFTkSuQmCC");
}
